.App {
  /* border: 1px solid gray; */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 4px gray;
}

.to-do-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.item {
  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
}

button {
  background-color: blue;
  color: white;
}

input {
  height: 4vh;
}

.child {
  width: 200px;
  box-shadow: 0 0 4px gray;
  padding: 1rem;
  
}

.container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}