* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.child {
    padding: 3rem;
    box-shadow: 0 0 4px gray;
    border-radius: 8px;
    width: 23%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.child img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin: 0.5rem 0;
}

button {
    width: 100%;
    padding: 0.5rem;
    /* background-color: brown; */
    color: white;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .child {
        width: 45%;

    }
}


@media (max-width: 480px) {
    .child {
        width: 90%;

    }
}